body, html {
    height: 100%;
  }

  .bg {
    background-color: #111;
  }

.fixed-img {
    position: fixed;
    right: 60%;
    height: 900px;
  }

  div{
    color: #ddd;
  }

  ol li {
    margin-bottom: 15px;
  }

  .main-text{
    margin-top: 5%;
  }


